.xin-view {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'lato', sans-serif;
}
.layout {
  display: flex;
  width: 100%;
  height: 100%;
}

.layout.vertical {
  flex-direction: column;
}
.layout .flex {
  flex: 1;
}
div.ktv-chat .friend-chat {
  position: relative;
  padding: 10px 5px 10px 60px;
  background-color: #81a9ab;
  border-bottom: 1px solid #d5d7d4; }
div.ktv-chat .friend-chat img {
  object-fit: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  left: 10px; }
div.ktv-chat .friend-chat h3 {
  margin: 0;
  letter-spacing: .03rem;
  font-size: 1rem;
  color: #fff; }
div.ktv-chat .friend-chat span {
  font-size: .8rem;
  letter-spacing: .02rem;
  color: #fff;
  font-weight: 300; }

div.ktv-chat .messages {
overflow-y: scroll;
padding-bottom: 19px;
}
div.ktv-chat .messages .line {
  padding: 10px 10px 0;
  clear: both; }
  div.ktv-chat .messages .line .name {
    color: #B0BEC5;
    letter-spacing: 0.03rem;
    font-size: 0.675rem;
    display: block; }
  div.ktv-chat .messages .line .chat {
    max-width: 85%;
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    border-radius: 1rem;
    margin-bottom: 0.5rem;
    word-break: break-all;
    background-color: #ececec;
    color: #5a5a5a;
    border-bottom-left-radius: 0.125rem;
    margin: 0;
    display: inline-block;
    letter-spacing: .01rem;
    font-weight: 300;
    text-align: left;
    margin-top: 3px; }
    div.ktv-chat .messages .line .chat span {
      display: block;
      text-align: right;
      color: #5a5a5a;
      font-size: .6rem; }
  div.ktv-chat .messages .line.my {
    float: right;
    text-align: right; }
    div.ktv-chat .messages .line.my .chat {
      border-radius: 1rem 1rem 0;
      background-color: #5fb1b5;
      color: #fff;
    }
      div.ktv-chat .messages .line.my .chat span {
        color: #fff;
        font-size: .6rem;
      }

div.ktv-chat .message {
height: auto;
background: #81a9ab;
padding: 10px;
box-sizing: border-box; }
div.ktv-chat .message input {
  width: auto;
  border-radius: 3px;
  line-height: 230%;
  box-shadow: inherit;
  border: 0;
  padding: 10px;
  margin-left: 3px;
}

